*{
    box-sizing: border-box;
    margin: 0;
}

/* -------------------- */
/*   POLICE D'ECRITURE  */
/* -------------------- */

@font-face {
 font-family: "Calistoga";
 src: url('font/Calistoga/Calistoga-Regular.ttf');
}

/* -------------------- */
/*        HEADER        */
/* -------------------- */

.navbar-brand{
    color: rgb(255, 255, 255);
    font-family: Calistoga, sans-serif;
    text-transform: uppercase;
    text-shadow: 2px -2px rgb(0, 0, 0);
    font-size: 25px;
    padding-bottom: 20px;
    opacity: 1;
}

.nav-link{
    color: gray;
    transition: all 0.2s ease;
}

.nav-pills{
    background-color: rgb(112, 128, 144);
}

/* -------------------- */
/*         TITRE        */
/* -------------------- */

h2{
    color: rgb(255, 255, 255);
    font-family: Calistoga, sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 3px black;
    padding-bottom: 60px;
}


/* -------------------- */
/*    PROGRESS BARRE    */
/* -------------------- */

.progress-margin{
    margin: 25px 0 25px 0;
}


/* -------------------- */
/*     SCROLL BARRE     */
/* -------------------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* -------------------- */
/*          HOME        */
/* -------------------- */

#home{
    background: url("../img/1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 0 200px 0;
}

#home h2{
    padding-bottom: 5px;
}

#home h3{
    padding-bottom: 25px;
}

.cadre{
    background-color: rgba(54, 54, 54, 0.596);
    padding: 5%;
    box-shadow: 1px 1px 10px 1px #504b4b;
}

.profil-img{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    margin-bottom: 25px;
    box-shadow: 1px 1px 10px 1px #504b4b;
}

/* -------------------- */
/*      PORTFOLIO       */
/* -------------------- */

#recommandation{
    background-color: rgb(210, 221, 247);
    padding: 80px 0 80px 0;
    box-shadow: 1px 1px 10px 1px #6489b5;
}

.realisation{
    background-color: rgba(34, 34, 34, 0.534);
    transition: all 0.4s ease;
    cursor: pointer;
    margin: 10px 10px 40px 10px;
}

.cadre-port{
    background-color: rgba(54, 54, 54, 0.596);
    padding: 5%;
    box-shadow: 1px 1px 10px 1px #504b4b;
}

.trav-img{
    width: 250px;
    height: 200px;
    margin-bottom: 25px;
    box-shadow: 1px 1px 10px 1px #504b4b;
}

/* -------------------- */
/*    RECOMMANDATION    */
/* -------------------- */

#recommandation{
    background-color: rgb(210, 221, 247);
    padding: 80px 0 80px 0;
    box-shadow: 1px 1px 10px 1px #6489b5;
}

#recommandation p{
    font-size: 16px;
}

#recommandation h3{
    font-size: 20px;
    font-weight: bold;
}


/* -------------------- */
/*        CONTACT       */
/* -------------------- */

#contact{
    background-color: #6795cb;
    padding: 100px 0 100px 0;
    box-shadow: 1px 1px 10px 1px #6795cb;
}

/* -------------------- */
/*        FOOTER        */
/* -------------------- */

footer{
    background-color: #2A2A2A;
    padding: 10px 0 20px 0;
    box-shadow: 2px -1px 10px black;
}

footer p{
    color: rgb(255, 255, 255);
    font-family: Calistoga, sans-serif;
    text-transform: uppercase;
    text-shadow: 2px -1px black;
    font-size: 14px;
    padding-top: 15px;
}

footer p > span{
    color: #AD0202;
}


.fa-linkedin-square{
    color: rgb(255, 255, 255);
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 42px;
    transition: all 0.6s ease;
}

.btn-social:hover {
    background-color: rgb(255, 255, 255);
}


.btn-outline {
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    transition: all .3s ease-in-out;
}

/* -------------------- */
/*     MENTION LEGAL    */
/* -------------------- */

#mention{
    background-color: #3d546f;
    padding: 200px 0 200px 0;
    color: rgb(255, 255, 255);
}

#mention p{
    font-size: 16px;
}

#mention h3{
    font-size: 20px;
    font-weight: bold;
}
